{% include 'Partials/header.twig' %}

<h2>HOME</h2>

<p>Welcome to Registry!</p>

{% if loggedIn %}
    <p>{{ person.name }}</p>
{% endif %}

{% if not loggedIn %}
   <br>
   <p>If you want to log in, get your one time password!</p>

    <form method="get" action="/getOtp">
        <label for="code">Personal code:</label>
        <input type="text" name="code">
        <input type="submit" value="Get new otp">
    </form>



    {% if otp %}
        <br>
        <p>Here it is -> {{ otp }}</p>

    {% endif %}

    <br>
    <p>If you have one:</p>

    <form method="post" action="/logIn">
        <label for="code">Personal code:</label>
        <input type="text" name="code">
        <br>
        <label for="otp">Password:</label>
        <input type="text" name="otp">
        <br>
        <input type="submit" value="Log in">
    </form>

{% endif %}

{% include 'Partials/footer.twig' %}